@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400');

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

/* We load Degular-Medium font locally for now see https://app.asana.com/0/0/1205925046643514/f */
@font-face {
  font-family: 'Degular-Medium';
  src: url('../assets/fonts/Degular-Medium.otf') format('opentype');
}
